/*

    Todo:
        - Improve views on narrow screens (mobile). Bit too spaced out atm.
        - Tweak little things to improve spacing, etc. slightly.
            - e.g. give <h2> top margin so that the gap matches the sticky nav. (You'll need to adjust other margins if you do this, ofc.)

    Notes:
        - Don't forget the % symbols with hsl colour triplets :)
        - position: sticky. How things have changed!

*/

:root {
    --main-nav-link-colour: blue;
    --main-nav-link-hover-colour: red;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    /* background-color: whitesmoke; */
    /* background-color: hsl(0, 0%, 90%); */
    background: linear-gradient(0deg, hsl(0, 0%, 90%) 0%, white 100%);
    margin: 0 1rem;
}

#everything {
    display: grid;
    margin: 0 auto;
    width: 60vw;
}

h1, h2 {
    font-family: 'Zilla Slab', sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 2.25rem;
    font-weight: 400;
    margin-top: 0;
}

#main-nav-menu-button span {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 700;
    padding-left: 1rem;
}

/* 1680 is a somewhat arbitrary choice for now. */
@media screen and (max-width: 1680px) {

    #everything {
        width: 95vw;
    }

}

#main-nav-menu-button {
    background-color: rgb(0, 102, 204);
    color: whitesmoke;
    display: none;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    /* margin: 0 0 2rem 0; */
    padding: 0.5rem 1rem;
}

#main-nav-menu-button:hover {
    text-decoration: none;
}

nav {
    /* background-color: hsl(0, 0%, 90%); */
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 1rem;
}

#main-nav-menu {
    /* list-style-type: none; */
    margin: 0;
    /* padding: 0; */
}

@media screen and (min-width: 1025px) {

    #main-nav-menu {
        /* You could apply sticky positioning to <nav>, but it's fine here for now. */
        position: sticky;
        top: 2rem;
    }

}

nav li {
    margin-bottom: 0.5rem;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 4rem;
}

/* 1024 is also kinda arbitrary. */
@media screen and (max-width: 1024px) {

    #everything {
        display: block;
        width: 90vw;
    }

    nav {
        border-bottom: 1px solid hsl(0, 0%, 90%);
        margin-bottom: 2rem;
        padding-bottom: 3rem;
    }

    #main-nav-menu {
        margin-top: 1rem;
    }

    #main-nav-menu.hide {
        display: none;
    }

    #main-nav-menu-button.show {
        display: inline-block;
    }

    main {
        padding-left: 0;
    }

}

header, footer {
    /* background-color: hsl(0, 0%, 100%); */
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 2rem;
}

header p, footer p {
    margin: 0;
}

header {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    margin-bottom: 2rem;
}

header p {
    display: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 4rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3rem 0;
    padding: 0;
}

.gallery li {
    background-color: white;
    /* border: 2px solid white; */
    display: flex;
    /* flex-direction: column; */
    list-style-type: none;
    margin: 0 2px 2px 0;
    justify-content: space-around;
    /* text-align: center; */
}

.gallery img {
    align-self: center;
    width: 200px;
}

.gallery li span {
    display: none;
    padding: 0.25em;
}

#week-08-objects h3 {
    margin: 2.5rem 0 1rem 0;
}

/* todo: if mobile, get rid of the grid here */
.demo-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.demo-container p {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 0;
}

.demo-input, .demo-output {
    border-radius: 4px;
    padding: 0.5rem;
}

.demo-input textarea, .demo-output {
    font-family: 'Space Mono', monospace;
}

.demo-input {
    align-self: flex-start;
    background-color: linen;
    border: 1px solid wheat;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: space-between;
    margin-right: 0.25rem;
}

.demo-input button {
    align-self: center;
    /* display: inline-block; */
    width: 8%;
}

.demo-input textarea {
    height: 8rem;
    resize: vertical;
    width: 90%;

    /* Apparently non-standard? */
    /* wrap: off; */
}

.demo-output {
    align-self: flex-start;
    background-color: hsl(238, 32%, 23%);
    border: 1px inset white;
    color: rgb(216, 255, 179);
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 0.25rem;
    min-height: 8rem;
}

footer {
    border-top: 1px solid hsl(0, 0%, 80%);
}