/*

    Todo:
    =====
        - MOBILE! Step seq won't work in current form. Completely change layout on mobile, or just hide it?
        - Stop the step sequencer width from growing too wide.
        - Improve views on narrow screens (mobile). Bit too spaced out atm.
        - Tweak little things to improve spacing, etc. slightly.
            - e.g. give <h2> top margin so that the gap matches the sticky nav. (You'll need to adjust other margins if you do this, ofc.)

        Low priority:
        -------------
            - Improve highlight of every 4th seq step?


    Notes/what I learned:
    =====================
        - Don't forget the % symbols with hsl colour triplets :)
        - position: sticky. How things have changed!

        - overflow-x rather than just overflow
        - overflow: auto rather than scroll

        - Keep in mind stuff you rarely/never used a decade+ ago: variables, calc, flex, grid, etc.

*/

:root {
    --main-nav-link-colour: blue;
    --main-nav-link-hover-colour: red;
}

* {
    box-sizing: border-box;
/*     font-family: sans-serif; */
    line-height: 1.5;
}

.hidden {
    display: none !important;
}

body {
    /* background-color: whitesmoke; */
    /* background-color: hsl(0, 0%, 90%); */
    background-color: white;
    /* background: linear-gradient(0deg, hsl(0, 0%, 90%) 0%, white 100%); */
    margin: 0 1rem;
}

#everything {
    /* display: grid; */
    /* justify-items: start; */
    margin: 0 auto;
    width: 60vw;
}

#middle {
    display: flex;
}

nav, main, footer {
    font-family: sans-serif;
    font-size: 1.25rem;
}

/* Testing bits just to check layout quickly: */
/* #everything {
    background-color: lightgrey;
}
header {
    background-color: lightyellow;
}
#middle {
    background-color: lightsalmon;
}
nav {
    background-color: lightpink;
}
main {
    background-color: lightblue;
}
footer {
    background-color: lightgreen;
} */
/* End of testing bits */

h1, h2 {
    font-family: 'Zilla Slab', sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin: 0;
}

h1 strong {
    background-color: whitesmoke;
    border-bottom: 5px dotted darkgrey;
    color: darkblue;
    /* font-family: cursive; */
    /* font-family: 'Architects Daughter', cursive; */
    text-transform: uppercase;
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Indie Flower', cursive;
    padding: 0 0.5rem 0 0.5rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 400;
    margin-top: 0;
}

#main-nav-menu-button span {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: 700;
    padding-left: 1rem;
}

/* 1680 is a somewhat arbitrary choice for now. */
@media screen and (max-width: 1680px) {

    #everything {
        width: 95vw;
    }

}

#main-nav-menu-button {
    background-color: rgb(0, 102, 204);
    color: whitesmoke;
    display: none;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    /* margin: 0 0 2rem 0; */
    padding: 0.5rem 1rem;
}

#main-nav-menu-button:hover {
    text-decoration: none;
}

#return-to-top {
    display: none;
}

nav {
    /* background-color: hsl(0, 0%, 90%); */
/*     grid-column-start: 1;
    grid-column-end: 2; */

    /* https://stackoverflow.com/questions/44446671/my-position-sticky-element-isnt-sticky-when-using-flexbox */
    height: 100%;
    padding: 1rem;
    min-width: max-content;
}


/* media query for "wide-enough" displays, i.e. not your typical mobile in portrait */
@media screen and (min-width: 1025px) {

    nav {
        /* You could apply sticky positioning to <nav>, but it's fine here for now. */
        margin: 0 4rem 0 0;
        position: sticky;
        top: 2rem;
    }

    #return-to-top {
        display: block;
        margin-top: 8rem;
    }

}
/* End of media query */


nav li {
    margin-bottom: 0.5rem;
}

#main-nav-menu {
    margin-top: 0;
    padding-right: 1.25rem;
}

#main-nav-menu li::marker {
    color:hsl(0, 0%, 30%);
}

/*  media query for narrow displays, i.e. mobiles in portrait.
    (1024 is kinda arbitrary.)
*/
@media screen and (max-width: 1024px) {

    #everything {
        width: 90vw;
    }

    #middle {
        display: block;
    }

    nav {
        border-bottom: 1px solid hsl(0, 0%, 90%);
        margin-bottom: 2rem;
        padding-bottom: 3rem;
    }

    #main-nav-menu {
        margin-top: 1rem;
    }

    #main-nav-menu.hide {
        display: none;
    }

    #main-nav-menu-button.show {
        display: inline-block;
    }

}
/* End of media query */


header, footer {
    /* background-color: hsl(0, 0%, 100%); */
/*     grid-column-start: 1;
    grid-column-end: 3; */
    padding: 2rem;
}

header p, footer p {
    margin: 0;
}

header {
    /* border-bottom: 1px solid hsl(0, 0%, 90%); */
    margin-bottom: 2rem;
}

header p {
    display: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    overflow: hidden;
    width: 100%;
}

p, li {
    max-width: 45rem;
}

section {
    margin-bottom: 4rem;
}

/* a.footnote strong {
    font-size: 1rem;
    font-weight: 900;
}

a.footnote:hover {
    color: red;
    text-decoration: none;
}

a.footnote:hover strong {
    content: "\29EB";
} */



/*

    ----------------------------------------------------------------
    About me stuff
    ----------------------------------------------------------------

*/

#about-me {
    /* display: none; */
    overflow-x: auto;
}

#about-me-timeline {
    display: grid;
    font-size: 0.75rem;
    gap: 0.2rem;
    grid-template-columns: repeat(22, 3rem);
}

#about-me-timeline div {
    overflow: hidden;
    padding: 0.25rem;
}

#about-me-timeline .year {
    background-color: lightgrey;
}

#about-me-timeline .row-1 {
    background-color: lightblue;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

#about-me-timeline .row-2 {
    background-color: lightcoral;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

#about-me-timeline .row-3 {
    background-color: lightcyan;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

#about-me-timeline .row-4 {
    background-color: lightgoldenrodyellow;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
}

#about-me-timeline .row-5 {
    background-color: lightgreen;
    grid-column-start: 7;
    grid-column-end: 14;
    grid-row-start: 6;
    grid-row-end: 7;
}

#about-me-timeline .row-6 {
    background-color: lightgrey;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 7;
    grid-row-end: 8;
}

#about-me-timeline .row-7 {
    background-color: lightpink;
    grid-column-start: 14;
    grid-column-end: 16;
    grid-row-start: 8;
    grid-row-end: 9;
}

#about-me-timeline .row-7-part-2 {
    background-color: lightpink;
    grid-column-start: 18;
    grid-column-end: 22;
    grid-row-start: 8;
    grid-row-end: 9;
}

#about-me-timeline .row-8 {
    background-color: lightsalmon;
    grid-column-start: 15;
    grid-column-end: 18;
    grid-row-start: 9;
    grid-row-end: 10;
}

#about-me-timeline .row-9 {
    background-color: lightseagreen;
    grid-column-start: 21;
    grid-column-end: 23;
    grid-row-start: 10;
    grid-row-end: 11;
}

/*

    ----------------------------------------------------------------
    End of About me stuff
    ----------------------------------------------------------------

*/


.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3rem 0;
    padding: 0;
}

.gallery li {
    background-color: white;
    /* border: 2px solid white; */
    display: flex;
    /* flex-direction: column; */
    list-style-type: none;
    margin: 0 2px 2px 0;
    justify-content: space-around;
    /* text-align: center; */
}

.gallery img {
    align-self: center;
    width: 200px;
}

.gallery li span {
    display: none;
    padding: 0.25em;
}



/*

    ----------------------------------------------------------------
    Week 08: Objects stuff
    ----------------------------------------------------------------

*/

#week-08-objects h3 {
    /* margin: 2.5rem 0 1rem 0; */
    margin: 0 0 1rem 0;
}

.demo-container, .demo-input, .demo-output {
    border-radius: 0.25rem;
}

.demo-container {
    background-color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 88%);
    margin: 2.25rem 0 0 0;
    padding: 1rem;
}

.demo-container p {
/*     grid-column-start: 1;
    grid-column-end: 3; */
    margin-top: 0;
}

.demo-io-container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 0.5rem; */
    justify-content: space-between;
}

/* todo: I want these boxes to take up 50% of the width each, but be no narrower than x rem, and when the page is narrow enough, output goes beneath input */
.demo-input, .demo-output {
    font-size: 1rem;
    /* min-width: 33rem; */
    padding: 0.5rem;
    width: 49.5%;
}

.demo-input textarea, .demo-output {
    font-family: 'Space Mono', monospace;
}

.demo-input {
    align-self: flex-start;
    background-color: linen;
    border: 1px solid wheat;
    display: flex;
    justify-content: space-between;
    /* margin-right: 0.25rem; */
}

.demo-output {
    align-self: flex-start;
    background-color: hsl(238, 32%, 23%);
    border: 1px solid black;
    color: rgb(216, 255, 179);
    /* display: inline-block; */
    /* margin-left: 0.25rem; */
    /* min-height: 8rem; */
}

.demo-input button {
    align-self: center;
    /* display: inline-block; */
    width: 8%;
}

.demo-input textarea {
    height: 6rem;
    min-height: 2rem;
    resize: vertical;
    width: 90%;

    /* Apparently non-standard? */
    /* wrap: off; */
}

/*

    ----------------------------------------------------------------
    End of Week 08: Objects stuff
    ----------------------------------------------------------------

*/



/*

    ----------------------------------------------------------------
    Sequencer stuff
    ----------------------------------------------------------------

*/

#sequencer-settings {
    background-color: whitesmoke;
    border-radius: 0.5rem;
    display: flex;
    margin: 0 0 1rem 0;
    padding: 0;
}

#sequencer-settings fieldset {
    background-color: lightsteelblue;
    border: none;
    border-radius: 0.25rem;
    display: block;
    margin: 0.5rem 0 0.5rem 0.5rem;
    padding: 0.5rem;
}

#sequencer-settings fieldset .setting-section {
    display: block;
    font-weight: bold;
    margin: 0;
}

#sequencer-settings label {
    display: block;
    margin: 0.75rem 0 0 0;
}

#sequencer-settings label select {
    /* display: block; */
    /* margin: 0 0 0.5rem 0; */
}

#sequencer {
    /* background-color: hsl(25, 46%, 21%); */
    /* background-color: hsl(25, 0%, 21%); */
    background-color: hsl(25, 0%, 61%);
    /* background: linear-gradient(0deg, hsl(25, 0%, 41%) 0%, hsl(25, 0%, 61%) 100%); */
    border-radius: 1rem;
    /* color: whitesmoke; */
    font-size: 1rem;
    overflow-x: auto;
    padding: 1rem;
}

#sequencer-controls {
    /* background-color: hsl(25, 56%, 31%); */
    /* background-color: hsl(0, 0%, 31%); */
    background-color: hsl(0, 0%, 71%);
    border-radius: 0.5rem;
    color: #000;
    /* display: none; */
    /* margin: 0; */
    padding: 0.5rem;
}

#sequencer-controls label {
    /* background-color: hsl(0, 0%, 80%); */
    border-right: 2px solid hsl(25, 0%, 41%);
    display: inline-block;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
}

#sequencer-controls input[type=number] {
    border: none;
    font-family: 'Space Mono', monospace;
    margin: 0;
    /* padding: 0 0 0 0.5rem; */
    text-align: center;
    width: 3rem;
}

/* #number-of-tracks {
    width: 3rem;
}

#number-of-steps {
    width: 3rem;
} */

#stepgrid {
    display: grid;
    gap: 0.25rem;
    margin-top: 0.5rem;
}

.track {
    /* background-color: hsl(25, 46%, 31%); */
    /* background-color: hsl(25, 0%, 31%); */
    background-color: hsl(25, 0%, 71%);
    border-radius: 0.25rem;
    margin: 0.5rem 0 0 0;
    padding: 0.25rem;
}

.track-controls {
    /* border: 1px solid black; */
    /* color: hsl(25, 36%, 91%); */
    /* color: hsl(25, 0%, 91%); */
    padding: 0 0.25rem 0.25rem 0.25rem;
}

.track-controls label {
/*     background-color: hsl(25, 26%, 41%); */
    margin: 0 0.5rem 0 0;
    /* padding: 0.25rem; */
}

#sequencer input[type=range] {
    margin: 0 0 0 0.5rem;
    padding: 0;
    position: relative;
    top: 0.3rem;
}

/* A grid in a grid. Is that the best way of doing this? Does that make best use of grids? */
.track-step-area {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
}

.step {
    /* border: 3px outset hsl(25, 36%, 41%); */
    border-color: hsl(25, 0%, 41%);
    border-style: solid;
    border-width: 2px;
    /* border-style: outset; */
    /* border-width: 3px; */
    /* color: hsl(25, 36%, 41%); */
    color: hsl(25, 0%, 51%);
    cursor: pointer;
    /* height: 2rem; */
    padding: 0.5rem;
    text-align: center;
    user-select: none;
    /* width: 1rem; */
}

.step:nth-child(4n+1) {
    /* color: hsl(25, 36%, 51%); */
    color: hsl(25, 0%, 41%);
    font-weight: 600;
}

.step-active {
    /* background-color: hsl(180, 80%, 60%); */
    background-color: hsl(46, 100%, 74%);
    /* border-style: inset; */
    /* color: hsl(180, 80%, 40%); */
    /* color: hsl(46, 100%, 44%); */
}

.step.highlight {
    background-color: hsl(180, 80%, 60%);
    /* background-color: hsl(33, 100%, 50%); */
    /* color: hsl(33, 100%, 70%); */
}

.step-active.highlight {
    background-color: hsl(33, 100%, 100%);
    color: hsl(33, 100%, 20%);
}

#play-button {
    border: 1px solid black;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem;
}

/* #play-button:hover {
    background-color: greenyellow;
} */

#play-button.playing {
    background-color: hsl(84, 100%, 59%);
}

#play-button.playing:hover {
    background-color: hsl(84, 100%, 49%);
}

/*

    ----------------------------------------------------------------
    End of sequencer stuff
    ----------------------------------------------------------------

*/


footer {
    border-top: 1px solid hsl(0, 0%, 80%);
}

